# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
package-lock.json
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Config file
config.json

# Data bae folder
db/

# History folder
.history/

# Dev folder
dev/

# Dev files

# Icon
icons/
