/*-------------------------*\
    $BODY
\*-------------------------*/

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

div.flex-shrink-0.dropdown > a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}

.padding-footer {
  position: absolute;
  top: 50px;
  bottom: 45px;
  right: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #4C4;
  height: 50px;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  transition: all 0.2s linear;
}
.rounded-top-5 {
  border-top-left-radius: var(--bs-border-radius-xl)!important;
  border-top-right-radius: var(--bs-border-radius-xl)!important;
}

.footer--extended {
  height: 645px !important;
  transition: all 0.2s linear;
}

.avatar-logo {
  background-color: #656565;
  background-size: 32px 32px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  height: 32px;
  width: 32px;
}

/*-------------------------*\
  $SIDE BAR
\*-------------------------*/
@media (max-width: 767.98px) {
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -280px;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .b-example-divider {
    display: none;
  }

  .btnSidebarOpen {
    display: block !important;
  }

  .sidebar .btnSidebarClose {
    display: block !important;
  }
}

.btnSidebarOpen {
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  color: white;
  background-color: #a9a9a9;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;

  display: none;
}

.btnSidebarOpen:hover {
  background-color: #444;
}

.sidebar .btnSidebarClose {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  text-decoration: none;

  display: none;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #596068;

}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-item.active {
  color: #DB98AC;
  border-right: 2px solid #DB98AC !important;

  
}
.sidebar .nav-item.active a {
  color: #DB98AC;
}
.border-end {
  border-right: 3px solid #DB98AC !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

hr {
  background-color: #aeaeae;
  margin: 0.5rem 0;
}

#sidebarMenu ul.nav.flex-column.profileImg {
  display: block !important;
}

.navbar.sticky-top.flex-md-nowrap.p-0 {
  align-items: flex-start;
}

.nav.nav-pills a:hover, .nav.nav-pills a:focus {
  background-color: #084298;
}

/*-------------------------*\
  $SIDE BAR CORPS
\*-------------------------*/
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/*-------------------------*\
  $MODAL
\*-------------------------*/
.modal-backdrop {
  --bs-backdrop-opacity: 0;
}

/*-------------------------*\
  $TEXT PODIUM
\*-------------------------*/
span.podium {
  margin-right: 15px;
  font-size: 1.2em;
}

span.podium:first-child {
  background-color: goldenrod;
}

span.podium:not(first-child ):not(last-child) {
  background-color: lightslategray;
}

span.podium:last-child {
  background-color: saddlebrown;
}